body {
	--base: 1rem;

	display: grid;
	font-family: 'Helvetica', sans-serif;
	gap: calc(2 * var(--base));
	padding: var(--base);
}

section {
	background-color: gold;
	padding: calc(var(--base) / 2);
}

h2 { font-size: calc(var(--base) * 3); }

/* Limit the height. */
section:not(:first-child) { block-size: calc(var(--base) * 7); }

section:nth-child(2) {
	overflow-x: hidden;
	overflow-y: auto; /* Scroll vertically! */
}

section:nth-child(3) {
	display: flex; /* Horizontal layout. */
	gap: calc(2 * var(--base));
	overflow-x: auto; /* Scroll horizontally! */
	overflow-y: hidden;

	* {
		flex-shrink: 0; /* Don’t shrink! */
		inline-size: 85%; /* Always “peek” the next block. */
	}
}
