/* Same as before. */
body {
	font-family: sans-serif;
	padding: 2rem;
}

section {
	background-color: deepskyblue;
	border-top: solid black 0.5rem;
	padding: 1rem;
}

section:not(:first-child) { margin-top: 2rem; }
