aside {
	background-color: gold;
	float: left;
	margin-right: 10px;
	padding: 10px;
	width: 100px;
}

section:nth-child(2) aside {
	float: right;
	margin-left: 10px;
	margin-right: initial;
}

p:last-child {
	clear: left;
}
