aside {
	background-color: gold;
	float: left;
	margin-inline-end: 1rem;
	padding: 1rem;
	width: 12rem;
}

section:nth-child(2) aside {
	float: right;
	margin-inline-start: 1rem;
	margin-inline-end: initial;
}

p:last-child {
	clear: left;
}
