# Override GitHub ignoring Markdown for language stats.
# *.md linguist-detectable
# *.md linguist-documentation=false

# Hide language graph entirely?
* linguist-vendored

# These have so much non-Markdown stuff, easier to read without the default preview.
content/**/*.md linguist-language=ecmarkup


# Treat these as HTML.
# *.webc linguist-language=html
