# Treat these as HTML.
*.webc linguist-language=html

# These have so much non-Markdown stuff, easier to read without the default preview.
content/**/*.md linguist-language=ecmarkup

# Hide language graph entirely, since we can only have Markdown counted with preview.
* linguist-documentation
