body {
	padding: 1rem;
	display: grid; /* Just for some separation. */
	row-gap: 1rem;
}

svg {
	background-color: deepskyblue; /* Just to see the edges! */
	block-size: 50vw;

	line {
		stroke: tomato;
		stroke-width: 4;
	}

	polyline {
		fill: gold;
		stroke: none; /* Overrides the attribute in the code. */
	}
}
