ol {
	display: flex;
	flex-wrap: nowrap; /* Default. */
	min-height: 8rem;
}

ol:not(:first-child) { flex-wrap: wrap; }

ol:nth-child(3),
ol:nth-child(4) {
	flex-direction: column;
}

/* Force the wrap. */
ol:nth-child(4) { max-height: 8rem; }
