/* Same as before. */
body {
	font-family: sans-serif;
	padding: 2rem;
}

section {
	border-top: solid black 0.5rem;
	padding: 1rem;
}

section:nth-child(1) { background-color: deepskyblue; }
section:nth-child(2) { background-color: gold; }
section:nth-child(3) { background-color: tomato; }
