main {
	display: flex; /* We’ll talk about flex soon! */
	flex-wrap: wrap;
	gap: 1rem;
}

section { background-color: aquamarine; }

@media (min-width: 500px) {
	section {
		background-color: gold;
		width: calc((100% - 1rem) / 2);
	}
}

@media (min-width: 600px) {
	section {
		background-color: orange;
		width: calc((100% - 2rem) / 4);
	}
}
