ol {
	display: grid;
	grid-auto-rows: 6rem;
	grid-template-columns: 1fr;
}

@media (min-width: 400px) {
	ol { grid-template-columns: 2fr 1fr; }
}

@media (min-width: 500px) {
	ol { grid-template-columns: 1fr 1fr 1fr; }
}
