section:nth-child(2) { filter: blur(0.25rem); }
section:nth-child(3) { filter: brightness(125%); }
section:nth-child(4) { filter: contrast(75%); }
section:nth-child(5) { filter: drop-shadow(0 0.5rem 0.25rem rgb(0 0 0 / 25%)); }
section:nth-child(6) { filter: grayscale(1); } /* Like `saturate` */
section:nth-child(7) { filter: hue-rotate(20deg); }
section:nth-child(8) { filter: invert(1); }
section:nth-child(9) { filter: opacity(50%); }
section:nth-child(10) { filter: saturate(50%); }
section:nth-child(11) { filter: sepia(100%); }
section:nth-child(12) { filter: hue-rotate(-50deg) drop-shadow(0.25rem 0.25rem tomato); }
