:root { --background: aquamarine; }

section { background-color: var(--background); }

a { text-decoration: underline; }

@media screen and (width > 35rem) {
	:root { --background: coral; }
}

@media print {
	:root {
		--background: white;

		font-size: 18pt; /* Absolute units! */
	}

	section {
		border: 0.25rem solid black;
		font-family: serif;
		padding: 0.5in;
	}
}
