section { background-color: aquamarine; }

@media (width > 35rem) {
	section:first-child { background-color: coral; }
}

@media (width = 35rem) {
	section:nth-child(2) { background-color: orange; }
}

@media (width < 35rem) {
	section:last-child { background-color: gold; }
}
