section:hover {
	background-color: aquamarine;
	transform: scale(105%);
}

section:nth-child(2) {
	transition-duration: 2s, 1s;
	transition-property: background-color, transform;
	transition-timing-function: linear, ease-in-out;
	will-change: transform; /* Improves the scaling performance! */
}
