ol {
	display: flex;
	flex-wrap: wrap;
	height: 120px;
}

ol:nth-child(1) { gap: 10px; }
ol:nth-child(2) { row-gap: 10px; }
ol:nth-child(3) { column-gap: 20px; }
ol:nth-child(4) { gap: 10px 20px; } /* Shorthand. */

ol:nth-child(5) {
	justify-content: space-between;
	align-content: space-between;
	gap: 10px; /* No effect, here! */
}
