/* Setup styles are moved to the other file! */

section { border-top: solid black 4px; }

section {
	border-top-color: black; /* Non-shorthand, same thing! */
	border-top-style: solid;
	border-top-width: 4px;
}
