/* Special selector that means “default”/`html`. */
:root {
	--spacing: 1rem;

	font-size: 100%;
}

@media (min-width: 500px) {
	:root {
		--spacing: 2rem;

		font-size: 150%; /* Bump everything up. */
	}
}

body {
	font-family: sans-serif;
	font-size: 1rem; /* Use the size. */
	padding: var(--spacing); /* Use the spacing. */
}

section {
	/* The second value here is a “fallback”. */
	/* It’s used if a variable hasn’t been declared. */
	background-color: var(--background, aquamarine);
	padding: calc(var(--spacing) / 2); /* Calcs, too. */
}

section:not(:first-child) {
	--background: gold; /* Only for this element. */

	margin-top: var(--spacing);
}
