code, kbd, samp {
	font-feature-settings: initial;
	font-style:            normal;
	position:              relative;
	text-transform:        initial;
	white-space:           pre;
}

:where(*:not(pre)) > code,
kbd,
samp {
	background-color:    var(--code);
	border-radius:       var(--stroke);
	inset-block-start:   0.03em;
	line-height:         initial;
	padding-block-end:   0.2em;
	padding-block-start: 0.3em;
	padding-inline:      0.5em;
	user-select:         all;
}

/* Tighten keyboard/menu combos. */
:where(nobr):has(:where(code, kbd, samp)) :where(code, kbd, samp):not(:first-child) { margin-inline-start: -0.4em }

pre {
	background-color: var(--pre);
	border-radius:    calc(var(--stroke) * 2);

	> code {
		color:              color-mix(in srgb, currentcolor, transparent 66%);
		display:            block;
		inset-block-start:  0.2em;
		line-height:        inherit;
		mask:               linear-gradient(to right, transparent, var(--accent) 1rcap, var(--accent) calc(100% - 1rcap), transparent 100%);
		overflow-x:         auto;
		overflow-y:         hidden;
		padding:            1rcap;
		tab-size:           4;
		text-box-edge:      cap alphabetic;
		text-box-trim:      trim-both;

		&::-webkit-scrollbar { display: none }
	}
}

/* In-page. */
main {
	pre,
	ti-preview {
		inline-size:        fit-content;
		margin-block-start: calc(1rcap - 1cap);
		max-inline-size:    100%;
	}

	pre > code { inset-block-start:  -0.05em }

	ti-preview { --editor-padding: 0.37rcap 1rcap 0.37rcap }
}

/* Live preview settings. */
ti-preview {
	--output-background: var(--accent);
	--output-border:     initial;

	--container-border-radius: calc(var(--stroke) * 2);

	--editor-background:           var(--pre);
	--editor-caret-color:          var(--accent);
	--editor-font-family:          'OCR B', ui-monospace, monospace;
	--editor-font-size:            var(--size--pre);
	--editor-line-height:          1rlh;

	--tab-bar-active-background: transparent;
	--tab-bar-active-foreground: var(--accent);
	--tab-bar-active-highlight:  transparent;
	--tab-bar-background:        transparent;
	--tab-bar-filter:            var(--blur);
	--tab-bar-font-family:       'OCR B Bold', ui-monospace, monospace;
	--tab-bar-font-size:         var(--editor-font-size);
	--tab-bar-foreground:        var(--syntax-comment);
	--tab-bar-margin:            0 0 0.65rcap;
	--tab-bar-padding:           1rcap;

	--editor-padding:              0.65rcap 1rcap 0.35rcap;
	--editor-selection-background: color-mix(in srgb, var(--accent), transparent 80%);

	--editor-width: 64.25%; /* End of body column. */

	--syntax-text:         var(--accent);
	--syntax-link:         #c678dd;
	--syntax-heading:      #e06c75;
	--syntax-emphasis:     #acb2be;
	--syntax-strong:       #acb2be;
	--syntax-keyword:      tomato;
	--syntax-atom:         var(--accent);
	--syntax-bool:         dodgerblue;
	--syntax-url:          #56b6c2;
	--syntax-labelName:    #61afef;
	--syntax-inserted:     #98c379;
	--syntax-deleted:      #e06c75;
	--syntax-literal:      lightskyblue;
	--syntax-string:       lightskyblue;
	--syntax-number:       dodgerblue;
	--syntax-variableName: #ffa657;
	--syntax-definition:   #d2a8ff;
	--syntax-typeName:     limegreen;
	--syntax-namespace:    #e5c07b;
	--syntax-className:    dodgerblue;
	--syntax-macroName:    #e06c75;
	--syntax-propertyName: dodgerblue;
	--syntax-operator:     color-mix(in srgb, var(--accent), transparent 33%);
	--syntax-comment:      color-mix(in srgb, var(--accent), transparent 50%);
	--syntax-meta:         dodgerblue;
	--syntax-punctuation:  color-mix(in srgb, var(--accent), transparent 33%);
	--syntax-invalid:      var(--accent);
	--syntax-whitespace:   color-mix(in srgb, var(--accent), transparent 90%);
}
