@font-face {
	font-family: 'Gorton Digital';
	font-weight: 300;
	src:         url('../assets/fonts/gorton-digital--light.otf') format('opentype');
}

@font-face {
	font-family: 'Gorton Digital';
	font-weight: 400;
	src:         url('../assets/fonts/gorton-digital--regular.otf') format('opentype');
}

@font-face {
	font-family: 'Gorton Digital';
	font-weight: 500;
	src:         url('../assets/fonts/gorton-digital--medium.otf') format('opentype');
}

@font-face {
	font-family: 'Gorton Digital';
	font-weight: 700;
	src:         url('../assets/fonts/gorton-digital--heavy.otf') format('opentype');
}

/* Lighter one. */
@font-face {
	font-family: 'OCR B';
	font-weight: normal;
	src:         url('../assets/fonts/ocr-b--regular.otf') format('opentype');
}

@font-face {
	font-family: 'OCR B';
	font-weight: bold;
	src:         url('../assets/fonts/ocr-b--original.otf') format('opentype');
}

/* For explicit `ti-preview` use. */
@font-face {
	font-family: 'OCR B Bold';
	src:         url('../assets/fonts/ocr-b--original.otf') format('opentype');
}

:where(:root) {
	/* Some basic bounding-box metrics. */
	--bottom:    0.228em;
	--top:       0.057em;

	/* For underlines, match the `p`. */
	--descender: 0.264em;

	/* Inline height of links, past cap. */
	--bottom--content: 0.314em;
	--top--content:    0.144em;

	font-family:    'Gorton Digital', sans-serif;
	font-size:      calc((var(--size--root) / 16) * 100%);
	font-synthesis: none;
	line-height:    var(--leading);

	* {
		color:                    var(--color, currentcolor);
		font-kerning:             normal;
		font-size:                var(--size, 1rem);
		font-smooth:              always;
		-moz-osx-font-smoothing:  grayscale;
		-webkit-font-smoothing:   antialiased;
		font-weight:              var(--weight);
		line-height:              var(--leading, 1rlh);
		text-rendering:           optimizeLegibility;
		-webkit-text-size-adjust: none;

		/* Chrome doesn’t apply `text-box-trim` on inline elements, otherwise would set globally here. */
		/* https://codepen.io/nileshprajapati/pen/RweKdmw */
	}
}

/* Change stroke/metrics based on weight. */
*, *::before, *::after {
	@container style(--weight: 300) {
		--left:   0.059em;
		--right:  0.149em;
		--stroke: 0.056em;
	}

	@container style(--weight: 400) {
		--left:   0.079em;
		--right:  0.139em;
		--stroke: 0.079em;

		:is(sup, sub) { -webkit-text-stroke-width: 0.035em }
	}

	@container style(--weight: 500) {
		--left:   0.089em;
		--right:  0.135em;
		--stroke: 0.089em;

		:is(sup, sub) { -webkit-text-stroke-width: 0.045em }
	}

	@container style(--weight: 700) {
		--left:   0.119em;
		--right:  0.119em;
		--stroke: 0.119em;

		:is(sup, sub) { -webkit-text-stroke-width: 0.075em }
	}
}

/* Code stuff! */
code, kbd, samp {
	font-family: 'OCR B', 'SF Pro', monospace;
	font-weight: bold; /* Only changes the SF. */
}

/* Only scale down inline ones. */
:where(p, li:where(:not(:has(header))), dd, figcaption, td) :is(code, kbd, samp) { font-size: var(--size--code) }

ti-preview,
:where(pre) code {
	font-size:   var(--size--pre);
	font-weight: normal;
}

/* Nav. */
article > nav { font-family: -apple-system, BlinkMacSystemFont, sans-serif }
