main {
	align-items:         baseline;
	column-gap:          var(--alley);
	display:             grid;
	grid-auto-rows:      min-content;
	grid-template-columns:
		[ all-start aside-start body-start middle-start five-start four-start intro-start left-start one-start recto-start right-start six-start three-start two-start verso-start ]
		minmax(0, 1fr)
		[ all-end aside-end body-end middle-end five-end four-end intro-end left-end one-end recto-end right-end six-end three-end two-end verso-end ];
	overflow:            clip;
	padding-block-end:   var(--end);
	padding-block-start: var(--start);
	padding-inline:      var(--gutter);
	position:            relative;
	row-gap:             3rcap;

	h1 { display: none } /* Don’t you dare. */

	/* Headings. */
	hgroup {
		inline-size: fit-content;
		position:    relative;

		&:has(> h2) {
			--size:   var(--size--h2);
			--weight: 500;

			+ * {
				margin-block-start: 1rlh;

				@container style(--columns: 6) { margin-block-start: 2rlh }
			}
		}

		&:has(> h3) {
			--size:   var(--size--h3);
			--weight: 700;

			/* Back on the baseline. */
			> h3 { margin-block-start: calc(1rcap - 1cap) }

			+ * {
				margin-block-start: 1rlh;

				@container style(--columns: 6) { + *:where(.recto, .right) { margin-block-start: 1rlh } }
			}
		}

		&:has(> h4) { --weight: 700 }

		/* Anchors links. */
		> a {
			inset:    0;
			position: absolute;
		}
	}

	/* Default to body width. */
	:where(&, section) > * { grid-column: body }

	/* Limit paragraphs (inside things), sameish. */
	:where(p) { max-inline-size: 49ch }

	/* Containers. */
	div,
	dl,
	ol,
	section,
	ul {
		align-items:           inherit;
		display:               grid;
		grid-template-columns: minmax(0, 1fr);
		row-gap:               inherit;
	}

	/* Subgridded `section`. */
	section {
		grid-column:           all;
		grid-template-columns: subgrid;
	}

	/* Lists, lists, lists. */
	:is(dl, ol, ul) {
		/* Extra spacing around loosies. */
		&:where(:not([class]), :not(:where([class]:not(.balance)))) {
			margin-block-start: 1lh;

			&:where(:not(:last-child)) + * {
				margin-block-start: 1rlh;

				@container style(--columns: 6) { + *:where(.recto, .right) { margin-block-start: 1rlh } }
			}
		}

		/* Not “tag” lists. */
		&:where(:not(:has(> li > a > cite, > li > p:only-child > a > cite))) {
			/* TODO There has to be a simpler way to check for these! */

			/* Item inset. */
			> :where(dd, dt, li) { padding-inline-start: 2cap }

			> :where(dt, li) {
				position: relative;


				/* ”Markers.” */
				&::before {
					position: absolute;
					text-box: trim-both cap alphabetic;
				}

				/* For poking `code` out of lists. */
				.all { max-inline-size: calc(var(--page) - 5cap) }

				/* `cite` in lists (“for next week”). */
				> :where(p:has(> a > cite)) + * { margin-block-start: 1rlh }

				> :where(dl, ol, ul) {
					margin-block-start: initial;

					&:where(:not(:last-child)) + * { margin-block-start: initial }
				}
			}

			> :where(dd):has(> *:not(:only-child)) {
				display:               grid;
				grid-template-columns: minmax(0, 1fr);
				row-gap:               3rcap; /* Back to `main` spacing. */
			}
		}

		/* “Tight” lists. */
		&:where(:not(:has(li > p, a > cite))) { row-gap: 1rcap }

		/* More vertical space when the items have multiple paragraphs. */
		&:where(:has(:where(dt, li) > p:not(:only-child))) {
			row-gap: 5rcap;

			> :where(dt, li):where(:has(p:not(:only-child))) {
				display:               grid;
				grid-template-columns: minmax(0, 1fr);
				row-gap:               3rcap; /* Back to `main` spacing. */
			}
		}
	}

	:is(dl, ul:where(:not(:has(> li > a > cite, > li > p:only-child > a > cite)))) {
		margin-inline-start: 1cap;

		> :where(dt, li) {
			&::before {
				content:           '—';
				inset-block-start: 0;
				inset-inline-end:  calc(100% - var(--right));
			}

			&:where(:has(> p:first-child > strong:only-child))::before {
				font-weight:               700;
				-webkit-text-stroke-width: 0.015em; /* Match `strong` */
			}
		}
	}

	ol {
		counter-reset:       index;
		margin-inline-start: 1.1em;

		> li::before {
			content:           counters(index, '.') '.';
			counter-increment: index;
			inline-size:       1.1em;
			inset-block-start: 0;
			inset-inline-end:  100%;
			white-space:       nowrap;
		}

		&:has(:nth-child(10)) {
			margin-inline-start: 1.25em;

			> li::before { inline-size: 1.25em }
		}
	}

	/* Link lists with our “tag” style. */
	ul:where(:has(li > a > cite, li > p:only-child > a > cite)) {
		grid-template-columns: minmax(auto, max-content);

		@container style(--columns: 1) {
			margin-block-start: 1rlh;

			+ * { margin-block-start: 1rlh }
		}
	}

	/* TODO Longer text-after-cite blows up the common width of these! */

	*:where(:not(li)) > p:where(:has(a > cite)) {
		justify-self: start;

		@container style(--columns: 1) {
			margin-block-start: 1rlh;

			+ * { margin-block-start: 1rlh }
		}
	}

	/* More space above these when they aren’t manually in-columns. */
	ul,
	*:where(:not(li)) > p {
		&:where(:has(a > cite):not([class])) {
			&:where(:not(:first-child)), &:where(:not(:last-child)) + * { margin-block-start: 1rlh }
		}
	}

	dl {
		row-gap: inherit;

		> dt:where(:not(:first-of-type)) { margin-block-start: 1rlh }
	}

	/* TODO More structure here! */
	details {
		display: grid;
		row-gap: inherit;

		&:where(:not(:first-child)), &:where(:not(:last-child)) + * { margin-block-start: 1rlh }

		&[open]::details-content {
			--size:   var(--size--h2);
			--weight: 500;

			display: grid;
			row-gap: 3rlh;
		}

		/* TODO Baseline grid is off, here. */
		> p:first-of-type { margin-block-start: calc(1cap - 1rcap) }

		> ul { row-gap: 1rlh }
	}

	/* Tables for the grade breakdown. */
	table {
		inline-size: fit-content;

		td:not(:first-child), th:not(:first-child) {
			border-inline-start: calc(3rcap - var(--left) - var(--right)) solid transparent;
		}

		tr:not(:first-child) td, tr:not(:first-child) th { border-block-start: 1rcap solid transparent }
	}

	/* TODO Move this to component? (And flatten that into native/Markdown?) */
	:where(&, section) > figure { grid-column: all }

	figure {
		align-items: start;
		display:     grid;
		position:    relative;
		row-gap:     1rlh;

		&:where(:not(:first-child)), &:where(:not(:last-child)) + * {
			margin-block-start: 1rlh;

			@container style(--columns: 6) { margin-block-start: 2rlh }
		}

		> figcaption {
			align-items:       baseline;
			display:           flex;
			gap:               1rlh;
			padding-block-end: calc(1rlh - 1rcap); /* Back on baseline. */

			/* TODO Move/consolidate this with `links` one! */
			> a:has(cite) {
				--block: 1ex;

				cite {
					--icon:        '→';
					--gap:         initial;
					--icon--width: initial;

					&::after { position: initial }
				}
			}

			> span { text-box: trim-both cap alphabetic }
		}

		img,
		object,
		iframe {
			--height: calc(var(--lines) * 1rlh - 1rcap);

			block-size:      var(--height);
			max-block-size:  calc(round(85svh, 1rcap));
			max-inline-size: 100%;
		}

		iframe {
			aspect-ratio: var(--aspect-ratio, 16/9);

			/* Embedded session video/recordings. */
			&[src^="https://drive.google.com/file/"][src$="/preview"] {
				background-color: var(--highlight);

				+ figcaption::after {
					color:    var(--note);
					content:  'You’ll need to be signed in to your New School account to see these in-page.';
					text-box: trim-both cap alphabetic;
				}

				/* Hide it in Safari. */
				@supports (font: -apple-system-body) {
					display: none;

					+ figcaption::after { content: 'Safari prevents Google Drive embeds—so you’ll need to go to the originals.' }
				}
			}

			/* Code previews. */
			&:not([src*="https://"])[src*='/preview'] {
				inline-size: 100%;

				@media (width < 35em) {
					aspect-ratio:   1 / 2;
					block-size:     initial;
					max-block-size: calc(round(78svh, 1rcap));
				}
			}
		}

		&.multiply { img, object, iframe { mix-blend-mode: multiply } }
		&.gray     { img, object, iframe { filter: saturate(0) } }

		/* TODO Shorthand classes for lines? Or specify units directly? */
	}

	aside {
		--weight: 500;

		background-color: var(--accent);
		border-radius:    var(--stroke);
		display:          grid;
		grid-column:      aside;
		outline-color:    var(--color);
		outline-offset:   round(up, calc(-1 * var(--stroke) * 2), var(--rounding));
		outline-style:    solid;
		outline-width:    round(down, calc(2 * var(--stroke)), var(--rounding));
		padding:          1rlh;
		place-items:      center;
		row-gap:          inherit;
		text-align:       center;

		/* TODO `::selection` override here! Wasn‘t working. */

		&:where(:not(:first-child)), &:where(:not(:last-child)) + * {
			margin-block-start: 1rlh;

			@container style(--columns: 6) { margin-block-start: 2rlh }
		}

		p { max-inline-size: initial }

		code {
			font-size:           0.8em;
			padding-block-end:   0.05em;
			padding-block-start: 0.15em;
			padding-inline:      0.25em;
		}

		> p:has(mark) {
			--weight:  700;
			--size:    var(--size--h3);
			--leading: 1lrh;

			margin-block-start: calc(1rcap - 1cap); /* Back on baseline. */

			&:last-child { margin-block-start: 1rlh }

			code { font-size: inherit }
		}

		&.reverse {
			background-color: var(--color);

			* { --color: white }
		}
	}

	blockquote {
		--size:    var(--size--h2);
		--weight:  500;

		display:             grid;
		grid-column:         aside;
		row-gap:             3rlh;
		text-wrap:           balance;

		/* Back on baseline. */
		> *:first-child { margin-block-start: calc(1cap - 1rcap) }

		> ol { row-gap: 1rlh }

		&:where(:not(:first-child)), &:where(:not(:last-child)) + * {
			margin-block-start: 2rlh;

			@container style(--columns: 6) {
				margin-block-start: 4rlh;

				&:has(+ p > a > cite) { margin-block-end: 1rlh }
			}
		}


		/* TODO Consolidate this with `figure` one! Figure out overrides. */
		+ p:has(a > cite) {
			--size:   initial;
			--weight: 700;

			align-items:        baseline;
			color:              var(--color);
			column-gap:         2cap;
			display:            flex;
			grid-column:        aside;
			margin-block-start: 1rlh;
			text-transform:     uppercase;

			> a:has(cite) {
				--block: 1ex;

				display:           inline-block;

				cite {
					--icon:        '→';
					--gap:         initial;
					--icon--width: initial;

					&::after { position: initial }
				}

				+ span { text-box: trim-both cap alphabetic }
			}

			&:where(:not(:last-child)) {
				+ *:not(section) {
					margin-block-start: 1rlh;

					@container style(--columns: 6) { margin-block-start: 2rlh }
				}

				+ :is(section, blockquote) {
					margin-block-start: 2rlh;

					@container style(--columns: 6) { margin-block-start: 4rlh }
				}
			}
		}
	}

	hr {
		--size:   var(--size--h2);
		--weight: 500;

		block-size:   1rcap; /* Keep on baseline. */
		grid-column:  all;
		margin-block: 1rlh;

		&::after { content: '' } /* Divider itself. */

		@container style(--columns: 6) { margin-block-start: 2rlh }
	}

	/* Heading spacing, lower for cascade. */
	section:where(:not(:first-child)) {
		&:where(:has(> hgroup > h2)) {
			margin-block-start: 2rlh;

			> hgroup {
				/* TODO This is off on mobile. */
				grid-column:        all;
				margin-block-start: calc(1cap - 1rcap); /* Back on baseline. */

				&::after { content: '' } /* Divider itself. */

				+ * {
					margin-block-start: 2rlh; /* One more for divider. */

					@container style(--columns: 6) {
						margin-block-start: 3rlh;

						+ *:where(.recto, .right) { margin-block-start: 3rlh }
					}
				}
			}

			@container style(--columns: 6) { margin-block-start: 4rlh }
		}

		&:where(:has(> hgroup > h3)) {
			margin-block-start: 2rlh;

			@container style(--columns: 6) { margin-block-start: 3rlh }
		}

		&:where(:has(> hgroup > h4)) { margin-block-start: 1rlh }
	}

	section:where(:first-child):where(:has(h2)) {
		grid-auto-flow:      dense; /* TL;DR links next to first `h2`. */
		margin-block-start:  calc(-1 * var(--start));
		padding-block-start: var(--start);

		@container style(--columns: 6) { hgroup { margin-inline-end: 1cap } }
	}

	/* Dividers. */
	:where(hr, hgroup:has(> h2)) {
		position: relative;

		&::after {
			background-color:   var(--color);
			block-size:         var(--stroke);
			border-radius:      calc(var(--stroke) / 2);
			inline-size:       	var(--page);
			inset-block-end:    calc(-1 * var(--stroke) / 2 - 1rlh);
			inset-inline-start: calc(-1 * var(--stroke) / 2);
			position:           absolute;
		}
	}

	/* Dim inert stuff. */
	*[inert] {
		--note: var(--color); /* Don’t double-fade. */

		opacity: var(--disabled--opacity);

		*[inert] { opacity: inherit } /* Section-nesting adds a dupe. */
	}

	:where(h4, dt, strong) {
		--weight: 700;

		/* Optically match the `h3`. */
		-webkit-text-stroke-width: 0.02em;
	}

	:where(p.intro) {
		--leading:        1rlh;
		--size:           var(--size--h3);

		/* Back on baseline. */
		&::before {
			content:            ' '; /* Otherwise it collapses! */
			display:            flow-root;
			margin-block-start: calc(1rcap - 1cap - 1rlh);
			visibility:         hidden;
		}

		&:not(:where(:first-child)) { margin-block-start: 1rlh }

		+ * {
			margin-block-start: 1rlh;

			@container style(--columns: 6) { + *:where(.recto, .right) { margin-block-start: 1rlh } }
		}

		/* Tighten underlines. */
		a { background-position-y: calc(var(--enlargement) + 1cap + (1rlh - 1cap) / 2 - var(--stroke)) }

		/* TODO `aria-label` instead? */
	}

	&:where(main) > :where(p.intro:first-child)::before { content: initial } /* Fix first. */

	:where(.note),
	:where(li, p):where(:has(> a > cite)),
	:where(figcaption) {
		--leading: 1rlh;
		--size:    var(--size--note);
		--weight:  500;

		color:               var(--note);
		max-inline-size:     56ch; /* Close to `body`. */
		padding-block-start: calc(1rcap - 1cap); /* Back on baseline. */
		text-wrap:           balance;

		* { color: inherit } /* For `abbr`. */

		/* TODO this doubles up opacities! */
		code { -webkit-text-stroke-width: 0.01em }

		/* TODO `role` instead? */
	}

	/* Manual column placements. */
	:where(.all, .aside, .body, .middle, .five, .four, .left, .one, .recto, .right, .six, .three, .two, .verso) {
		grid-row: span var(--rows, 1);

		/* TODO These need space above/below on mobile. */

		> hgroup { grid-column: all }
	}

	/* TODO Organize these! */
	.start  { align-self: start }
	.stack  { figure { margin: initial } }
	.center { align-self: center }
	.end    { align-self: end }

	*:has(> .sticky) {
		/* TODO This breaks `baseline` alignment! */
		align-self: stretch;

		.sticky {
			inset-block-start: 5rlh;
			position:          sticky;
		}
	}

	/* Only when on The Grid. */
	:where(&, section) {
		> .intro  { grid-column: intro } /* Higher for cascade override. */

		> .all    { grid-column: all }
		> .aside  { grid-column: aside }
		> .body   { grid-column: body }
		> .five   { grid-column: five }
		> .four   { grid-column: four }
		> .left   { grid-column: left }
		> .middle { grid-column: middle }
		> .one    { grid-column: one }
		> .recto  { grid-column: recto }
		> .right  { grid-column: right }
		> .six    { grid-column: six }
		> .three  { grid-column: three }
		> .two    { grid-column: two }
		> .verso  { grid-column: verso }
	}

	/* Some `--rows` shorthands. */
	.rows--2 { --rows: 2 }
	.rows--3 { --rows: 3 }
	.rows--4 { --rows: 4 }
	.rows--5 { --rows: 5 }
	.rows--6 { --rows: 6 }

	/* Manual vertical spacing. */
	/* Don’t double-apply on headings (already nested in sections). */
	:where(:not(h2, h3, h4)) {
		&.before--0          { margin-block-start: initial }
		&.before, .before--1 { margin-block-start: 1rlh }
		&.before--2          { margin-block-start: 2rlh }

		&.before--3 {
			margin-block-start: 2rlh;

			@container style(--columns: 6) { margin-block-start: 3rlh }
		}

		&.before--4 {
			margin-block-start: 2rlh;

			@container style(--columns: 6) { margin-block-start: 4rlh }
		}

		&.after--0 + *              { margin-block-start: initial }
		&:is(.after, .after--1) + * { margin-block-start: 1rlh }
		&.after--2 + *              { margin-block-start: 2rlh }

		&.after--3 + * {
			margin-block-start: 2rlh;

			@container style(--columns: 6) { margin-block-start: 3rlh }
		}

		&.after--4 + * {
			margin-block-start: 2rlh;

			@container style(--columns: 6) { margin-block-start: 4rlh }
		}
	}

	/* The actual columns. */
	@container style(--columns: 6) {
		grid-template-columns:
			[ all-start body-start intro-start left-start one-start verso-start ]
			minmax(0, 1fr)
			[ aside-start one-end two-start]
			minmax(0, 1fr)
			[ middle-start left-end three-start two-end ]
			minmax(0, 1fr)
			[four-start recto-start three-end verso-end]
			minmax(0, 1fr)
			[ body-end middle-end five-start four-end right-start ]
			minmax(0, 1fr)
			[ intro-end five-end six-start]
			minmax(0, 1fr)
			[ all-end aside-end recto-end right-end six-end];
	}
}
