section:nth-child(1) {
	border-radius: 50%; /* Relative to size. */
	border: 2px dotted deepskyblue;
}

section:nth-child(2) {
	background-color: gold; /* No borders! */
	border-radius: 10px; /* Absolute amount. */
}

section:nth-child(3) {
	border: 4px solid tomato;
	border-bottom-right-radius: 25px;
	border-top-left-radius: 25px;
}
