section:nth-child(1) {
	border-radius: 50%; /* Relative to size. */
	border: 0.1rem dotted deepskyblue;
}

section:nth-child(2) {
	background-color: gold; /* No borders! */
	border-radius: 1rem; /* Specific amount. */
}

section:nth-child(3) {
	border: 0.5rem solid tomato;
	border-bottom-right-radius: 3rem;
	border-top-left-radius: 3rem;
}
