::backdrop {
	background-color: rgb(0 0 0 / 66%); /* A dark overlay. */
	backdrop-filter: blur(1rem); /* Maybe a little “glassmorphism”? */
}

dialog {
	background-color: white;
	border-radius: var(--base);
	filter: drop-shadow(0 0.5rem 1rem rgb(0 0 0 / 33%)); /* Some depth. */
	gap: calc(2 * var(--base));
	justify-items: center; /* Center the children. */
	padding: var(--base);
	place-self: anchor-center; /* Chrome needs this to center it. */

	&[open] { display: grid } /* `block` is default, but we can override. */

	button { background-color: tomato; } /* Always have a clear “close” `button`! */
}
