ol {
	display: grid;
	grid-template-columns: 120px 60px; /* Force a wrap. */
	gap: 10px;
	justify-content: space-evenly; /* Horizontally. */
	align-content: center; /* Vertically. */
	height: 85vh; /* So the alignment has an effect. */
}
