code, kbd, samp {
	font-feature-settings: initial;
	font-style:            normal;
	position:              relative;
	white-space:           pre;
}

:where(*:not(pre)) > code,
kbd,
samp {
	background-color:    var(--code);
	border-radius:       var(--stroke);
	inset-block-start:   0.03em;
	padding-block-end:   0.2em;
	padding-block-start: 0.3em;
	padding-inline:      0.5em;
	user-select:         all;
}

/* Tighten keyboard/menu combos. */
:where(nobr):has(:where(kbd, samp)) :where(kbd, samp):not(:first-child) { margin-inline-start: -0.4em }

pre {
	background-color: var(--pre);
	border-radius:    calc(var(--stroke) * 2);
	inline-size:      fit-content;
	max-inline-size:  100%;

	> code {
		color:              color-mix(in srgb, currentcolor, transparent 66%);
		display:            block;
		inset-block-start:  -0.15em;
		line-height:        inherit;
		margin-block-start: calc(1rcap - 1cap);
		mask:               linear-gradient(to right, transparent, white 1rcap, white calc(100% - 1rcap), transparent 100%);
		overflow-x:         auto;
		overflow-y:         hidden;
		padding:            1rcap;
		tab-size:           4;
		text-box-edge:      cap alphabetic;
		text-box-trim:      trim-both;
	}
}
