@font-face {
	font-family: 'Gorton Digital';
	font-weight: 300;
	src:         url('../assets/fonts/gorton-digital--light.otf') format('opentype');
}

@font-face {
	font-family: 'Gorton Digital';
	font-weight: 400;
	src:         url('../assets/fonts/gorton-digital--regular.otf') format('opentype');
}

@font-face {
	font-family: 'Gorton Digital';
	font-weight: 500;
	src:         url('../assets/fonts/gorton-digital--medium.otf') format('opentype');
}

@font-face {
	font-family: 'Gorton Digital';
	font-weight: 700;
	src:         url('../assets/fonts/gorton-digital--heavy.otf') format('opentype');
}

:where(:root) {
	/* Some basic bounding-box metrics. */
	--bottom:    0.228em;
	--top:       0.057em;

	/* For underlines, match the `p`. */
	--descender: 0.264em;

	/* Inline height of links, past cap. */
	--bottom--content: 0.314em;
	--top--content:    0.144em;

	font-family:    'Gorton Digital', sans-serif;
	font-size:      62.5%;
	font-synthesis: none;

	* {
		font-kerning:             normal;
		font-size:                var(--size);
		font-smooth:              always;
		-moz-osx-font-smoothing:  grayscale;
		-webkit-font-smoothing:   antialiased;
		font-weight:              var(--weight);
		line-height:              var(--leading);
		text-rendering:           optimizeLegibility;
		-webkit-text-size-adjust: none;

		/* Chrome doesn’t apply `text-box-trim` on inline elements, otherwise would set globally here. */
		/* https://codepen.io/nileshprajapati/pen/RweKdmw */
	}
}

/* Change stroke/metrics based on weight. */
@property --weight {
	inherits:      true;
	initial-value: 400; /* Default to `regular`. */
	syntax:        '<number>';
}

*,
*::before,
*::after {
	@container style(--weight: 300) {
		--left:   0.059em;
		--right:  0.149em;
		--stroke: 0.056em;
	}

	@container style(--weight: 400) {
		--left:   0.079em;
		--right:  0.139em;
		--stroke: 0.079em;
	}

	@container style(--weight: 500) {
		--left:   0.089em;
		--right:  0.135em;
		--stroke: 0.089em;
	}

	@container style(--weight: 700) {
		--left:   0.119em;
		--right:  0.119em;
		--stroke: 0.119em;
	}
}
