@font-face {
	font-family: 'Gorton Digital';
	font-weight: 300;
	src:         url('../assets/fonts/gorton-digital--light.otf') format('opentype');
}

@font-face {
	font-family: 'Gorton Digital';
	font-weight: 400;
	src:         url('../assets/fonts/gorton-digital--regular.otf') format('opentype');
}

@font-face {
	font-family: 'Gorton Digital';
	font-weight: 500;
	src:         url('../assets/fonts/gorton-digital--medium.otf') format('opentype');
}

@font-face {
	font-family: 'Gorton Digital';
	font-weight: 700;
	src:         url('../assets/fonts/gorton-digital--heavy.otf') format('opentype');
}

:root {
	font-family:    'Gorton Digital', sans-serif;
	font-size:      62.5%;
	font-synthesis: none;

	* {
		font-kerning:             normal;
		font-smooth:              always;
		-moz-osx-font-smoothing:  grayscale;
		-webkit-font-smoothing:   antialiased;
		text-rendering:           optimizeLegibility;
		-webkit-text-size-adjust: none;
	}
}

:root,
.light {
	--stroke: 0.056em;

	font-weight: 300;
}

.regular {
	--stroke: 0.079em;

	font-weight: 400;
}

.medium {
	--stroke: 0.089em;

	font-weight: 500;
}

.heavy {
	--stroke: 0.119em;

	font-weight: 700;
}
