:root { -webkit-tap-highlight-color: transparent }

a:where([href]),
button:where(:not([disabled])),
summary {
	color:          blue; /* Temporary. */
	display:        block;
	outline-offset: 1ex;
	position:       relative;
	will-change:    opacity; /* Fix hover bobble. */

	/* Focus outline. */
	&:focus {
		outline: none;

		&:focus-visible {
			outline-style: solid;
			outline-width: 2px;
		}
	}

	/* Pseudo for clicks, enlarged without shenanigans on parent. */
	&::after {
		background-color:           transparent;
		content:                    '';
		cursor:                     pointer;
		inset:                      -1ex;
		pointer-events:             auto;
		position:                   absolute;
		transition-duration:        calc(var(--transition) / 2);
		transition-property:        background-color;
		transition-timing-function: linear;
	}

	&:active::after { background-color: var(--highlight) }

	@media (any-hover: hover) {
		transition-duration:        var(--transition);
		transition-property:        opacity;
		transition-timing-function: linear;

		&:hover { opacity: var(--hover) }
	}
}

/* Inline links. */
:where(dd, dt, h1, h2, h3, h4, h5, h6, p, td, th) a {
	box-decoration-break:       clone; /* “Restart” inline padding/margin over on wrapped links. */
	display:                    inline;
	margin-inline-end:          calc(-1 * (1ex - var(--right)));
	margin-inline-start:        calc(-1 * (1ex - var(--left)));
	outline-offset:             initial;
	padding-block-end:          calc(1ex - var(--bottom--content)); /* Account for wonky link content box. */
	padding-block-start:        calc(1ex - var(--top--content));
	padding-inline-end:         calc(1ex - var(--right));
	padding-inline-start:       calc(1ex - var(--left));
	transition-duration:        calc(var(--transition) / 2), var(--transition);
	transition-property:        background-color, opacity;
	transition-timing-function: linear;

	/* Use background for active highlight, as it might wrap. */
	&::after { content: initial }

	&:active { background-color: var(--highlight) }
}
