main {
	align-items:         baseline;
	column-gap:          var(--alley);
	display:             grid;
	grid-auto-rows:      min-content;
	grid-template-columns:
		[ all-start aside-start body-start middle-start five-start four-start intro-start left-start one-start recto-start right-start six-start three-start two-start verso-start ]
		minmax(0, 1fr)
		[ all-end aside-end body-end middle-end five-end four-end intro-end left-end one-end recto-end right-end six-end three-end two-end verso-end ];
	padding-block-end:   calc(2 * min(var(--alley), calc(2 * var(--gutter))));
	padding-block-start: min(var(--alley), calc(2 * var(--gutter)));
	padding-inline:      var(--gutter);
	row-gap:             3rcap;

	/* TODO Revise vertical spacing above/below! */

	/* Space above anchor destination. */
	[id] { scroll-margin-block: 2cap }

	h1 { display: none } /* Don’t you dare. */

	/* Headings. */
	hgroup {
		&:has(> h2) {
			--size:   var(--size--h2);
			--weight: 500;

			grid-column: all;

			+ * { margin-block-start: 2rlh }
		}

		&:has(> h3) {
			--size:   var(--size--h3);
			--weight: 700;

			/* Back on the baseline. */
			> h3 { margin-block-start: calc(1rcap - 1cap) }

			+ * { margin-block-start: 1rlh }
		}

		&:has(> h4) {
			--weight: 700;

			/* Optically match the titles. */
			> h4 { -webkit-text-stroke-width: 0.01em }

			/* TODO Down in size? */
		}

		/* TODO Come back to these! */
		> a { display: none }
	}

	/* Default to body width. */
	:where(&, section) > * { grid-column: body }

	/* Limit paragraphs (inside things), sameish. */
	:where(p) { max-inline-size: 49ch }

	/* Containers. */
	div,
	dl,
	ol,
	section,
	ul {
		align-items:           inherit;
		display:               grid;
		grid-template-columns: minmax(0, 1fr);
		row-gap:               inherit;
	}

	/* Subgridded `section`. */
	section {
		grid-column:           all;
		grid-template-columns: subgrid;
	}

	/* Lists, lists, lists. */
	:is(dl, ol, ul) {
		/* Extra spacing around loosies. */
		&:where(:not([class]), :not(:where([class]:not(.balance)))) {
			margin-block-start: 1lh;

			&:where(:not(:last-child)) + * { margin-block-start: 1rlh }
		}

		/* Not “tag” lists. */
		&:where(:not(:has(> li > a > cite, > li > p:only-child > a > cite))) {
			/* TODO There has to be a simpler way to check for these! */

			/* Item inset. */
			> :where(dd, dt, li) { padding-inline-start: 2cap }

			/* ”Markers.” */
			> :where(dt, li) {
				position: relative;

				&::before {
					position: absolute;
					text-box: trim-both cap alphabetic;
				}
			}

			> :where(dd):has(> *:not(:only-child)) {
				display: grid;
				row-gap: 3rcap;
			}
		}

		/* “Tight” lists. */
		&:where(:not(:has(li > p, a > cite))) { row-gap: 1rcap }

		/* More vertical space when the items have multiple paragraphs. */
		&:where(:has(:where(dt, li) > p:not(:only-child))) {
			row-gap: 5rcap;

			> :where(dt, li):where(:has(p:not(:only-child))) {
				display:               grid;
				grid-template-columns: minmax(0, 1fr);
				row-gap:               3rcap; /* Back to `main` spacing. */
			}
		}
	}

	:is(dl, ul:where(:not(:has(> li > a > cite, > li > p:only-child > a > cite)))) {
		margin-inline-start: 1cap;

		> :where(dt, li) {
			&::before {
				content:           '—';
				inset-block-start: 0;
				inset-inline-end:  calc(100% - var(--right));
			}
		}
	}

	ol {
		counter-reset:       index;
		margin-inline-start: 1em;

		> li::before {
			content:           counters(index, '.') '.';
			counter-increment: index;
			inline-size:       1em;
			inset-block-start: 0;
			inset-inline-end:  100%;
		}

		&:has(:nth-child(10)) {
			margin-inline-start: 1.25em;

			> li::before { inline-size: 1.25em }
		}
	}

	/* Link lists with our “tag” style. */
	ul:where(:has(li > a > cite, li > p:only-child > a > cite)) {
		grid-template-columns: minmax(auto, max-content);
	}

	/* TODO Longer text-after-cite blows up the common width of these! */

	*:where(:not(li)) > p:where(:has(a > cite)) { justify-self: start }

	/* More space above these when they aren’t manually in-columns. */
	ul,
	*:where(:not(li)) > p {
		&:where(:has(a > cite):not([class])) {
			&:where(:not(:first-child)), &:where(:not(:last-child)) + * { margin-block-start: 1rlh }
		}
	}

	dl {
		row-gap: inherit;

		> dt:where(:not(:first-of-type)) { margin-block-start: 1rlh }
	}

	/* TODO More structure here! */
	details {
		display: grid;
		row-gap: inherit;

		&:where(:not(:first-child)), &:where(:not(:last-child)) + * { margin-block-start: 1rlh }

		&[open]::details-content {
			--size:   var(--size--h2);
			--weight: 500;

			display: grid;
			row-gap: 3rlh;
		}

		/* TODO Baseline grid is off, here. */
		> p:first-of-type { margin-block-start: calc(1cap - 1rcap) }

		> ul { row-gap: 1rlh }
	}

	/* Tables for the grade breakdown. */
	table {
		inline-size: fit-content;

		td:not(:first-child), th:not(:first-child) {
			border-inline-start: calc(3rcap - var(--left) - var(--right)) solid transparent;
		}

		tr:not(:first-child) td, tr:not(:first-child) th { border-block-start: 1rcap solid transparent }

		td:last-child { text-align: end } /* Ersatz tabular numbers. */
	}

	/* TODO Move this to component? (And flatten that into native/Markdown?) */
	figure {
		align-items:           start;
		display:               grid;
		grid-column:           all;
		position:              relative;
		row-gap:               1rlh;

		&:where(:not(:first-child)), &:where(:not(:last-child)) + * { margin-block-start: 2rlh }

		> figcaption {
			align-items:       baseline;
			display:           flex;
			gap:               1rlh;
			padding-block-end: calc(1rlh - 1rcap); /* Back on baseline. */

			/* TODO Move/consolidate this with `links` one! */
			> a:has(cite) {
				--block: 1ex;

				cite {
					--icon:        '→';
					--gap:         initial;
					--icon--width: initial;

					&::after { position: initial }
				}
			}

			> span { text-box: trim-both cap alphabetic }
		}

		img,
		object,
		iframe {
			--height: calc(var(--lines) * 1rlh - 1rcap);

			block-size:      var(--height);
			max-block-size:  calc(round(85svh, 1rcap));
			max-inline-size: 100%;
		}

		iframe {
			aspect-ratio: var(--aspect-ratio, 16/9);

			/* Embedded session video/recordings. */
			&[src^="https://drive.google.com/file/"][src$="/preview"] {
				background-color: var(--highlight);

				+ figcaption::after {
					color:    var(--note);
					content:  'You’ll need to be signed in to your New School account to see these in-page.';
					text-box: trim-both cap alphabetic;
				}

				/* Hide it in Safari. */
				@supports (font: -apple-system-body) {
					display: none;

					+ figcaption::after { content: 'Safari prevents Google Drive embeds—so you’ll need to go to the originals.' }
				}
			}

			/* Code previews. */
			&:not([src*="https://"])[src$='/preview'] {
				/* aspect-ratio: initial; */
				inline-size:  100%;
			}
		}

		&.multiply { img, object, iframe { mix-blend-mode: multiply } }
		&.gray     { img, object, iframe { filter: saturate(0) } }

		/* TODO Shorthand classes for lines? Or specify units directly? */
	}

	aside {
		--weight: 500;

		background-color: var(--accent);
		border-radius:    var(--stroke);
		display:          grid;
		grid-column:      aside;
		outline-color:    var(--color);
		outline-offset:   round(up, calc(-1 * var(--stroke) * 2), var(--rounding));
		outline-style:    solid;
		outline-width:    round(down, calc(2 * var(--stroke)), var(--rounding));
		padding:          1rlh;
		place-items:      center;
		row-gap:          inherit;
		text-align:       center;

		/* TODO `::selection` override here! Wasn‘t working. */

		&:where(:not(:first-child)), &:where(:not(:last-child)) + * { margin-block-start: 2rlh }

		> p:has(mark) {
			--weight:  700;
			--size:    var(--size--h3);
			--leading: 1lrh;

			margin-block-start: calc(1rcap - 1cap); /* Back on baseline. */
		}

		&.reverse {
			background-color: var(--color);

			* { --color: white }
		}
	}

	blockquote {
		--size:    var(--size--h2);
		--weight:  500;

		display:             grid;
		grid-column:         aside;
		row-gap:             3rlh;
		text-wrap:           balance;

		/* Back on baseline. */
		> *:first-child { margin-block-start: calc(1cap - 1rcap) }

		> ol { row-gap: 1rlh }

		&:where(:not(:first-child)), &:where(:not(:last-child)) + * { margin-block-start: 4rlh }

		&:has(+ p > a > cite) { margin-block-end: 1rlh }

		/* TODO Consolidate this with `figure` one! Figure out overrides. */
		+ p:has(a > cite) {
			--size:   initial;
			--weight: 700;

			color:              var(--color);
			grid-column:        aside;
			margin-block-start: 1rlh;
			text-transform:     uppercase;

			> a:has(cite) {
				--block: 1ex;

				display:           inline-block;
				margin-inline-end: 2cap;

				cite {
					--icon:        '→';
					--gap:         initial;
					--icon--width: initial;

					&::after { position: initial }
				}
			}

			&:where(:not(:last-child)) {
				+ *:not(section) { margin-block-start: 2rlh }
				+ section { margin-block-start: 5rlh }
			}
		}
	}

	hr {
		--size:   var(--size--h2);
		--weight: 500;

		block-size:         1rcap; /* Keep on baseline. */
		grid-column:        all;
		margin-block-end:   1rlh;
		margin-block-start: 2rlh;
		position:           relative;

		&::after {
			background-color: var(--color);
			block-size:       var(--stroke);
			border-radius:    var(--stroke);
			content:          '';
			display:          block;
			inset-block-end:  calc(-1 * var(--stroke) / 2);
			inset-inline:     calc(-1 * var(--stroke) / 2);
			position:         absolute;
		}
	}

	/* Heading spacing, lower for cascade. */
	section:where(:not(:first-child)) {
		&:where(:has(> hgroup > h2)) {
			margin-block-start: 4rlh;

			> hgroup > h2 {
				/* TODO This is off on mobile. */
				margin-block-start: calc(1cap - 1rcap); /* Back on baseline. */
				padding-block-end:  1cap;
				position:           relative;

				/* TODO Fix baseline under! */

				/* Divider above it. */
				&::after {
					background-color:   currentcolor;
					block-size:         var(--stroke);
					border-radius:      calc(var(--stroke) / 2);
					content:            '';
					inset-block-end:    calc(-1 * var(--stroke) / 2);
					inset-inline-end:   calc(var(--right) - var(--stroke) / 2);
					inset-inline-start: calc(var(--left) - var(--stroke) / 2);
					position:           absolute;
				}
			}
		}

		&:where(:has(> hgroup > h3)) { margin-block-start: 3rlh }
		&:where(:has(> hgroup > h4)) { margin-block-start: 1rlh }
	}

	/* Dim inert stuff. */
	*[inert] {
		--note: var(--color); /* Don’t double-fade. */

		opacity: var(--disabled--opacity);

		*[inert] { opacity: inherit } /* Section-nesting adds a dupe. */
	}

	/* Match `h4`? */
	:where(dt, strong) {
		--weight: 700;

		/* Optically match the `h3`. */
		-webkit-text-stroke-width: 0.02em;
	}

	:where(p.intro) {
		--leading:        1rlh;
		--size:           var(--size--h3);

		/* Back on baseline. */
		&::before {
			content:            ' '; /* Otherwise it collapses! */
			display:            flow-root;
			margin-block-start: calc(1rcap - 1cap - 1rlh);
			visibility:         hidden;
		}

		&:not(:where(:first-child)) { margin-block-start: 1rlh }

		+ * { margin-block-start: 1rlh }

		/* TODO `aria-label` instead? */
	}

	:where(.note),
	:where(li, p):where(:has(> a > cite)),
	:where(figcaption) {
		--leading: 1rlh;
		--size:    var(--size--note);
		--weight:  500;

		color:               var(--note);
		max-inline-size:     56ch; /* Close to `body`. */
		padding-block-start: calc(1rcap - 1cap); /* Back on baseline. */
		text-wrap:           balance;

		* { color: inherit } /* For `abbr`. */

		/* TODO `role` instead? */
	}

	/* Manual column placements. */
	:where(.all, .aside, .body, .middle, .five, .four, .left, .one, .recto, .right, .six, .three, .two, .verso) {
		grid-row: span var(--rows, 1);

		/* TODO These need space above/below on mobile. */
	}

	/* TODO Organize these! */
	.start  { align-self: start }
	.stack  { figure { margin: initial } }
	.center { align-self: center }

	*:has(> .sticky) {
		/* TODO This breaks `baseline` alignment! */
		align-self: stretch;

		.sticky {
			inset-block-start: 5rlh;
			position:          sticky;
		}
	}

	/* Only when on The Grid. */
	:where(&, section) {
		> .intro  { grid-column: intro } /* Higher for cascade override. */

		> .all    { grid-column: all }
		> .aside  { grid-column: aside }
		> .body   { grid-column: body }
		> .five   { grid-column: five }
		> .four   { grid-column: four }
		> .left   { grid-column: left }
		> .middle { grid-column: middle }
		> .one    { grid-column: one }
		> .recto  { grid-column: recto }
		> .right  { grid-column: right }
		> .six    { grid-column: six }
		> .three  { grid-column: three }
		> .two    { grid-column: two }
		> .verso  { grid-column: verso }
	}

	/* Some `--rows` shorthands. */
	.rows--2 { --rows: 2 }
	.rows--3 { --rows: 3 }
	.rows--4 { --rows: 4 }
	.rows--5 { --rows: 5 }
	.rows--6 { --rows: 6 }

	/* Manual vertical spacing. */
	.before--0          { margin-block-start: initial }
	.before, .before--1 { margin-block-start: 1rlh }
	.before--2          { margin-block-start: 2rlh }
	.before--3          { margin-block-start: 3rlh }
	.before--4          { margin-block-start: 4rlh }

	.after--0 + *              { margin-block-start: initial }
	:is(.after, .after--1) + * { margin-block-start: 1rlh }
	.after--2 + *              { margin-block-start: 2rlh }
	.after--3 + *              { margin-block-start: 3rlh }
	.after--4 + *              { margin-block-start: 4rlh }

	/* The actual columns. */
	@media (orientation: landscape) and (width >= 35em), (width >= 60em) {
		grid-template-columns:
			[ all-start body-start intro-start left-start one-start verso-start ]
			minmax(0, 1fr)
			[ aside-start one-end two-start]
			minmax(0, 1fr)
			[ middle-start left-end three-start two-end ]
			minmax(0, 1fr)
			[four-start recto-start three-end verso-end]
			minmax(0, 1fr)
			[ body-end middle-end five-start four-end right-start ]
			minmax(0, 1fr)
			[ intro-end five-end six-start]
			minmax(0, 1fr)
			[ all-end aside-end recto-end right-end six-end];
	}
}
