main {
	align-items:    start;
	column-gap:     var(--alley);
	display:        grid;
	grid-template-columns:
		[ all-start aside-start body-start center-start five-start four-start left-start one-start recto-start right-start six-start three-start two-start verso-start ]
		minmax(0, 1fr)
		[ all-end aside-end body-end center-end five-end four-end left-end one-end recto-end right-end six-end three-end two-end verso-end ];
	grid-template-rows:  min-content 1fr; /* Fill last row (next to `.right`) */
	padding-block-end:   calc(2 * min(var(--alley), calc(2 * var(--gutter))));
	padding-block-start: min(var(--alley), calc(2 * var(--gutter)));
	padding-inline:      var(--gutter);
	row-gap:             3rcap;

	* { grid-column: body } /* Default to body width. */

	h1 { display: none } /* Don’t you dare. */

	/* Headings. */
	hgroup {
		&:has(> h2) {
			--size:   var(--size--h2);
			--weight: 500;

			grid-column:      all;
			margin-block-end: 2rlh;
		}

		&:has(> h3) {
			--size:   var(--size--h3);
			--weight: 700;

			margin-block-end: 1rlh;

			/* Back on the baseline. */
			> h3 { margin-block-start: calc(1rcap - 1cap) }
		}

		&:has(> h4) {
			--weight: 700;

			/* Optically match the titles. */
			> h4 { -webkit-text-stroke-width: 0.01em }
		}

		+ section { margin-block-start: initial }

		/* TODO Come back to these! */
		> a { display: none }
	}

	/* Containers. */
	dl,
	ol,
	section,
	ul {
		align-items:           inherit;
		display:               grid;
		grid-column:           all;
		grid-template-columns: subgrid;
		row-gap:               inherit;
	}

	section:where(:not(:first-child)) {
		&:where(:has(> hgroup > h2)) {
			margin-block-start: 4rlh;

			> hgroup > h2 {
				/* TODO This is off on mobile. */
				margin-block-start: calc(1cap - 1rcap); /* Back on baseline. */
				padding-block-end:  1cap;
				position:           relative;

				/* Divider above it. */
				&::after {
					background-color:   currentcolor;
					block-size:         var(--stroke);
					border-radius:      calc(var(--stroke) / 2);
					content:            '';
					inset-block-end:    calc(-1 * var(--stroke) / 2);
					inset-inline-end:   calc(var(--right) - var(--stroke) / 2);
					inset-inline-start: calc(var(--left) - var(--stroke) / 2);
					position:           absolute;
				}
			}
		}

		&:where(:has(> hgroup > h3)) { margin-block-start: 3rlh }
		&:where(:has(> hgroup > h4)) { margin-block-start: 1rlh }
	}

	/* Lists, lists, lists. */
	:is(dl, ol, ul:where(:not(:has(cite)))) {
		margin-block-start: 1lh;

		&:where(:not(:last-child)) { margin-block-end: 1lh }

		/* Item inset. */
		:where(dd, dt, li) { padding-inline-start: 2cap }

		/* ”Markers.” */
		:where(dt, li) {
			position: relative;

			&::before {
				position: absolute;
				text-box: trim-both cap alphabetic;
			}
		}
	}

	:is(dl, ul:where(:not(:has(cite)))) {
		margin-inline-start: 1cap;

		> :where(dt, li)::before {
			content:          '—';
			inset-inline-end: calc(100% - var(--right));
		}
	}

	ol {
		counter-reset:       index;
		margin-inline-start: 1em;

		> li::before {
			content:           counters(index, '.') '.';
			counter-increment: index;
			inline-size:       1em;
			inset-inline-end:  100%;
		}

		&:has(:nth-child(10)) {
			margin-inline-start: 1.25em;

			> li::before { inline-size: 1.25em }
		}
	}

	/* Link lists with our “tag” style. */
	ul:where(:has(cite)) {
		grid-template-columns: minmax(auto, max-content);

		:where(li) { grid-column: initial }
	}

	table {
		inline-size: fit-content;

		td:not(:first-child), th:not(:first-child) {
			border-inline-start: calc(3rcap - var(--left) - var(--right)) solid transparent;
		}

		tr:not(:first-child) td, tr:not(:first-child) th {
			border-block-start: 1rcap solid transparent;
		}

		td:first-child { text-transform: uppercase }

		td:last-child { text-align: end } /* Ersatz tabular numbers. */
	}

	/* Dim inert stuff. */
	*[inert] {
		--note: var(--color); /* Don’t double-fade. */

		opacity: var(--disabled--opacity);

		*[inert] { opacity: inherit } /* Section-nesting adds a dupe. */
	}

	/* Manual column placements. */
	:where(.all, .aside, .body, .center, .five, .four, .left, .one, .recto, .right, .six, .three, .two, .verso) {
		display:               grid;
		grid-row:              span var(--rows, 1);
		grid-template-columns: subgrid;
	}

	.all    { grid-column: all }
	.aside  { grid-column: aside }
	.body   { grid-column: body }
	.center { grid-column: center }
	.five   { grid-column: five }
	.four   { grid-column: four }
	.left   { grid-column: left }
	.one    { grid-column: one }
	.recto  { grid-column: recto }
	.right  { grid-column: right }
	.six    { grid-column: six }
	.three  { grid-column: three }
	.two    { grid-column: two }
	.verso  { grid-column: verso }

	/* Some `--rows` shorthands. */
	.rows--2 { --rows: 2 }
	.rows--3 { --rows: 3 }
	.rows--4 { --rows: 4 }
	.rows--5 { --rows: 5 }
	.rows--6 { --rows: 6 }

	/* Baseline reference grid. */
	&::before {
		background-image:    linear-gradient(color-mix(in srgb, #38f, transparent 25%) 0.5px, transparent 0.5px);
		background-position: 0 1cap;
		background-size:     100% 1rlh;

		/* content:             ''; */
		inset:               0;
		pointer-events:      none;
		position:            fixed;
		z-index:             1;
	}

	/* The actual columns. */
	@media (orientation: landscape) and (width >= 35em), (width >= 60em) {
		grid-template-columns:
			[ all-start body-start left-start one-start verso-start ]
			minmax(0, 1fr)
			[ aside-start one-end two-start]
			minmax(0, 1fr)
			[ center-start left-end three-start two-end ]
			minmax(0, 1fr)
			[four-start recto-start three-end verso-end]
			minmax(0, 1fr)
			[ body-end center-end five-start four-end right-start ]
			minmax(0, 1fr)
			[aside-end five-end six-start]
			minmax(0, 1fr)
			[ all-end recto-end right-end six-end];
	}
}
