main {
	--size:   var(--size--base); /* Reset from `pages` spacing. */
	--weight: 400;

	align-items:           baseline;
	column-gap:            var(--alley);
	display:               grid;
	grid-template-columns:
		[ all-start aside-start body-start center-start five-start four-start left-start one-start recto-start right-start six-start three-start two-start verso-start ]
		minmax(0, 1fr)
		[ all-end aside-end body-end center-end five-end four-end left-end one-end recto-end right-end six-end three-end two-end verso-end ];
	padding-block:  6cap;
	padding-inline: var(--gutter);
	row-gap:        3cap;

	* { grid-column: body } /* Default to body width. */

	h1, h5, h6 { display: none }

	h2, h3, h4, h5 { text-transform: uppercase }

	section {
		align-items:           inherit;
		display:               grid;
		grid-column:           all;
		grid-template-columns: subgrid;
		row-gap:               inherit;
	}

	/* Lists, lists, lists. */
	dl, ol, ul {
		display:               grid;
		grid-template-columns: subgrid;
	}

	/* Manual column placements. */
	:where(.all, .aside, .body, .center, .five, .four, .left, .one, .recto, .right, .six, .three, .two, .verso) {
		align-content:         start;
		display:               grid;
		grid-row:              span var(--rows, 1);
		grid-template-columns: subgrid;
	}

	.all    { grid-column: all }
	.aside  { grid-column: aside }
	.body   { grid-column: body }
	.center { grid-column: center }
	.five   { grid-column: five }
	.four   { grid-column: four }
	.left   { grid-column: left }
	.one    { grid-column: one }
	.recto  { grid-column: recto }
	.right  { grid-column: right }
	.six    { grid-column: six }
	.three  { grid-column: three }
	.two    { grid-column: two }
	.verso  { grid-column: verso }

	/* Some `--rows` shorthands. */
	.rows--2 { --rows: 2 }
	.rows--3 { --rows: 3 }
	.rows--4 { --rows: 4 }
	.rows--5 { --rows: 5 }
	.rows--6 { --rows: 6 }

	/* The actual columns. */
	@media (orientation: landscape) and (width >= 35em), (width >= 60em) {
		grid-template-columns:
			[ all-start body-start left-start one-start verso-start ]
			minmax(0, 1fr)
			[ aside-start one-end two-start]
			minmax(0, 1fr)
			[ center-start left-end three-start two-end ]
			minmax(0, 1fr)
			[four-start recto-start three-end verso-end]
			minmax(0, 1fr)
			[ body-end center-end five-start four-end right-start ]
			minmax(0, 1fr)
			[aside-end five-end six-start]
			minmax(0, 1fr)
			[ all-end recto-end right-end six-end];
	}
}
