@page {
	margin: 1in 0;
	size:   letter;
}

:root {
	--size--root: 16;
	--gutter:     1in;

	background-color: white;

	body > ul > li {
		&:not(:has(article)) { display: none } /* Hide other sections. */

		article {
			background-color: white;
			text-wrap:        pretty;

			/* Per semester. */
			/* .fall { display: none } */
			.spring { display: none }

			/* Semester headers. */
			hgroup:has(h3:where([id^='fall'], [id^='spring'])) {
				display: none;

				+ * { margin-block-start: initial }
			}

			/* Toggles. */
			.screen { display: none }
			.print  { display: block }
		}
	}
}
