:where(menu) a:where(:has(+ ul)), /* Loose ToC links. */
dd,
dt,
h1,
h2,
h3,
h4,
li:where(:not(:has(ol, p, section, ul))), /* “Tight” lists. */
p,
td,
th {
	margin-inline-end:   calc(-1 * var(--right));
	margin-inline-start: calc(-1 * var(--left));
	text-box:            trim-both cap alphabetic; /* 🥹 */

	/* TODO Firefox warning message! */
}

/* Headings. */
h1, h2, h3, h4, .heading {
	text-transform: uppercase;
	text-wrap:      balance;
}

h5, h6 { display: none }

/* Faux-italics. */
em {
	font-style:         italic;
	font-synthesis:     none; /* Prevent Safari from doing it. */
	padding-inline-end: 0.15em;

	/* Added by an 11ty `transform`. */
	nobr {
		/* `&NoBreak;` to trigger the `white-space` property. */
		&::before, &::after { content: '\2060' }

		> span {
			display:   inline-block;
			transform: skew(-15deg) translateX(0.1em);
		}

		/* TODO Trailing `)` can still wrap in Safari! */
	}
}

.balance { text-wrap: balance }
.nowrap, nobr { text-wrap: nowrap }
