dd, dt, h1, h2, h3, h4, h5, h6, p, td, th {
	font-size:     var(--size);
	line-height:   var(--leading);
	margin-block-start: 3cap; /* Temp spacing. */
	text-box-edge: cap alphabetic; /* 🥹 */
	text-box-trim: trim-both;      /* 😭 */
}

h1, h2, h3, h4, h5, h6 { text-transform: uppercase }

/* Faux-italics. */
em {
	font-style:        italic;
	font-synthesis:    none; /* Prevent Safari from doing it. */
	margin-inline-end: 0.1em;

	/* Added by an 11ty `transform`. */
	span {
		display:   inline-block;
		transform: skew(-15deg) translateX(0.1em);
	}
}

/* Temp spacing. */
body { margin-inline: 3cap }
