:where(:root) {
	--leading: 2cap;
	--size:    2rem;

	--max:    136.6rem;
	--gutter: max(var(--alley), calc((100vw - var(--max)) / 2));
	--alley:  1cap;

	--disabled:    20%;
	--enlargement: 0.6rem;
	--highlight:   color-mix(in srgb, currentcolor, transparent 90%);
	--hover:       50%;
	--transition:  166ms;

	--background--root: gainsboro;
	--background--1:    gold;
	--background--2:    orange;
	--background--3:    tomato;
	--background--4:    dodgerblue;
	--background--5:    darkturquoise;

	@media (width >= 35em) { /* Landscape phones. */
		--alley: 2cap;

		@media (height >= 27em) { /* Tablets. */
			--size:  2.4rem;
			--alley: 3cap;
		}
	}

	@media (width >= 75em) { --size: 2.8rem } /* Desktop. */
}
