:where(:root) {
	--leading: 2cap;

	--size--root: 20; /* In pixels, unitless for `calc`. */
	--size--h1:   2rem;
	--size--h2:   1.5rem;


	--max:    1400;

	--gutter: max(calc(var(--alley) / 2), calc((100vw - (var(--max) / var(--size--root)) * 1rem) / 2));
	--alley:  2rcap;

	--disabled:    color-mix(in srgb, currentcolor, transparent 80%);
	--enlargement: 1rex;
	--highlight:   color-mix(in srgb, currentcolor, transparent 90%);
	--hover:       50%;
	--transition:  166ms;

	--color: black;

	--background--root: gainsboro;
	--background--1:    gold;
	--background--2:    orange;
	--background--3:    tomato;
	--background--4:    dodgerblue;
	--background--5:    darkturquoise;

	@media (width >= 35em) { /* Landscape phones. */
		--alley: 4rcap;

		@media (height >= 27em) { --size--root: 24 } /* Tablets. */
	}

	@media (width >= 60em) { --alley: 6rcap }

	@media (width >= 84em) {
		--size--h1: 3rem;
		--size--h2: 2rem;
	}
}

/* TODO Declare `--size` and `--leading` with defaults, too? */

@property --weight {
	inherits:      true;
	initial-value: 400; /* Default to `regular`. */
	syntax:        '<number>';
}
