:where(:root) {
	--leading: 2cap;

	--size--root: 20; /* In pixels, unitless for `calc`. */
	--size--h1:   clamp(2rem, 4.75vw, 3rem); /* Scale `h1` based on course title. */
	--size--h2:   1.5rem;
	--size--h3:   1.25rem;

	--max: 1400;

	--alley:  2rcap;
	--gutter: max(calc(var(--alley) / 2), calc((100vw - (var(--max) / var(--size--root)) * 1rem) / 2));

	--disabled--opacity: 25%;
	--disabled:          color-mix(in srgb, var(--color, currentcolor), transparent calc(100% - var(--disabled--opacity)));
	--enlargement:       1rex;
	--highlight:         color-mix(in srgb, var(--color, currentcolor), transparent 90%);
	--hover:             66%;
	--transition:        166ms;

	--color: black;

	--note: color-mix(in srgb, var(--color, currentcolor), transparent 50%);

	--background--root:   gainsboro;

	--background--1: gold;
	--background--2: orange;
	--background--3: tomato;
	--background--4: dodgerblue;
	--background--5: palegreen;

	--background--1--alt: khaki;
	--background--2--alt: sandybrown;
	--background--3--alt: lightsalmon;
	--background--4--alt: lightskyblue;
	--background--5--alt: aquamarine;

	@media (width >= 35em) { /* Landscape phones. */
		--alley: 4rcap;

		@media (height >= 27em) { --size--root: 24 } /* Tablets. */
	}

	@media (width >= 60em) { --alley: 6rcap }

	@media (width >= 84em) { --size--h2: 2rem }
}

/* TODO Declare `--size` and `--leading` with defaults, too? */

@property --weight {
	inherits:      true;
	initial-value: 400; /* Default to `regular`. */
	syntax:        '<number>';
}
