body {
	font-family: sans-serif;
	padding: 1rem;
}

ol { background-color: gold; }
li {
	background-color: tomato;
	border-bottom: 0.25rem solid firebrick;
	border-right: 0.25rem solid firebrick;
	padding: 1rem;
}
