section { background-color: aquamarine; }

@media (width > 35rem) and (width < 40rem) {
	section:first-child { background-color: gold; }
}

@media (width > 40rem) and (height > 20rem) {
	section:last-child { background-color: orange; }
}
